#notemain
{
    margin: 200px auto;
}
#notecont input
{
    border: 2px solid black;
}
#des input{
    height: 350px;
    width:500px
}
#notecont button{
    width: 130px;
    height: 40px;
    letter-spacing: 2px;
    color: white;
    background-color: rgb(86, 86, 254);
    border-radius: 5px;
}